      body {
        margin: 0px;
        padding: 0px;
      }


canvas {
    border: 1px solid #000;
    height: 540px;
    margin: 1px auto;
    width: 693px;
}
#tinCan {
    // border: 1px solid red;
    margin: auto 6px;
}

.CanvasContainer {
    margin: auto;
    width: 694px;
}
.GameVersionNumber {
    text-align: right;
}